
{% load static %}
<div class="cizgi"></div>

<main class="text-lg-start text-center">
    <section class="bg-black text-white px-3 py-5 overflow-hidden   ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                    <p class="title">TV'de İzleme</p>
                    <p class="fs-5">Akıllı TV, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray oynatıcılar ve daha fazlasında seyredin.</p>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="position-relative">
                        <img src="{% static 'img/tv.png' %}" class=" resim-position position-absolute w-100" alt="">
                       
                        <div class="overflow-hidden">
                            <video class="w-100" muted autoplay loop src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="cizgi"></div>
    <section class="bg-black text-white px-3 py-5 overflow-hidden   ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12 order-lg-1 order-0">
                    <p class="title">Çevrimdışı izlemek için içerikleri indirin</p>
                    <p class="fs-5">En sevdiğiniz içerikleri kolayca kaydedin ve her zaman izleyecek bir şeyleriniz olsun.</p>
                </div>
                <div class="col-lg-6 col-12 order-lg-0 order-1">
                    <img src="{% static 'img/resim2.jpg' %}" class=" w-100 " alt="">
                </div>
            </div>
        </div>
    </section>
    <div class="cizgi"></div>
    <section class="bg-black text-white px-3 py-5 overflow-hidden   ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12 ">
                    <p class="title">İstediğiniz her yerde izleyin</p>
                    <p class="fs-5">Telefonda, tablette, bilgisayarda, televizyonda sınırsız film ve dizi izleyin.</p>
                </div>
                <div class="col-lg-6 col-12 ">
                    <img src="{% static 'img/resim3.png' %}" class=" w-100 " alt="">
                </div>
            </div>
        </div>
    </section>
    <div class="cizgi"></div>
    <section class="bg-black text-white px-3 py-5 overflow-hidden   ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12 order-lg-1 order-0 ">
                    <p class="title">Çocuklarınız için profiller oluşturun</p>
                    <p class="fs-5">Üyeliğinize dâhil olan bu ücretsiz deneyim sayesinde çocuklarınız, sadece onlara özel bir alanda en sevdikleri karakterlerle maceralara atılabilir.</p>
                </div>
                <div class="col-lg-6 col-12 order-lg-0 order-1 ">
                    <img src="{% static 'img/resim4.png' %}" class=" w-100 " alt="">
                </div>
            </div>
        </div>
    </section>
</main>