{% load static %}
<div class="cizgi"></div>
    <section class="bg-black px-3 py-5">
        <div class="container text-white">
            <p class="title text-center">Sıkça Sorulan Sorular</p>
            <div class="mt-2">
                <div class="accordion-title p-3 d-flex bg-dark align-items-center justify-content-between fs-5 border border-1 border-black">
                    <span>Netflix Nedir?</span>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="accordion-yazi  bg-dark fs-5 border border-1 border-black">
                    Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.
                    <br><br>
                    Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!
                </div>
            </div>
            <div class="mt-2">
                <div class="accordion-title p-3 d-flex bg-dark align-items-center justify-content-between fs-5 border border-1 border-black">
                    <span>Netflix Nedir?</span>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="accordion-yazi  bg-dark fs-5 border border-1 border-black">
                    Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.
                    <br><br>
                    Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!
                </div>
            </div>
            <div class="mt-2">
                <div class="accordion-title p-3 d-flex bg-dark align-items-center justify-content-between fs-5 border border-1 border-black">
                    <span>Netflix Nedir?</span>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="accordion-yazi  bg-dark fs-5 border border-1 border-black">
                    Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.
                    <br><br>
                    Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!
                </div>
            </div>
            <div class="mt-2">
                <div class="accordion-title p-3 d-flex bg-dark align-items-center justify-content-between fs-5 border border-1 border-black">
                    <span>Netflix Nedir?</span>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class=" accordion-yazi  bg-dark fs-5 border border-1 border-black">
                    Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.
                    <br><br>
                    Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!
                </div>
            </div>
            <p class="fs-5 text-center mt-5">İzlemeye hazır mısınız? Üye olmak ya da hesabınıza tekrar ulaşmak için tek yapmanız gereken e-posta adresinizi girmek.</p>
            <div class="d-flex flex-md-row flex-column w-75 gap-2 justify-content-center align-items-center m-auto">
                <div class="position-relative">
                    <input class="email fs-6 ps-2 text-white" id="e-mail2" type="email">
                    <label id="lbl" class="label position-label" for="e-mail2">E-Posta Adresi</label>
                </div>
                <button class="btn btn-danger btn-boyut">Başlayın ></button>
            </div>
        </div>
    </section>
    <div class="cizgi"></div>
    <footer class="bg-black px-3 py-5">
        <div class="container">
            <p class="text-secondary">Sorularınız mı var? <a class="link-secondary" href="#"> 0850-390-7444</a> numaralı telefonu arayın</p>
            <div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 text-md-start text-center">
                <ul class="list-unstyled">
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                    <li class="py-2">
                        <a class="link-secondary" href="#">Lorem.</a>
                    </li>
                </ul>
               
            </div>
            <div class="dropdown">
                <button class="esitle btn btn-secondary dropdown-toggle bg-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-language"></i> <span class="yokol" >Türkçe</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item dil-sec " href="#"><i class="fa-solid fa-language"></i> <span class="yokol" >Turkçe</span> </a></li>
                  <li><a class="dropdown-item dil-sec " href="#"><i class="fa-solid fa-language"></i> <span class="yokol" >İngilizce</span> </a></li>
                </ul>
            </div>
            <p class="text-secondary mt-2">Netflix</p>
        </div>
    </footer>