{% extends 'base.html' %}
{% load static %}


{% block title %}
    
{% endblock title %}



{% block css %}
    <style>
        body{
            background-color: black !important;
        }
    </style>
{% endblock css %}
    


{% block content %}
<div class="content h-100 d-flex flex-column justify-content-center align-items-center  text-white fs-5 container text-center p-3">
    <form enctype="multipart/form-data" method="POST" >
        {% csrf_token %}
        
        {% for field in form %}
            <div class="mb-3 form-floating">
                {{field}}
                <label for="{{field.id_for_label}}"> {{field.label}} </label>
            </div>
            
        {% endfor %}
            
            {% if request.user.profil_set.all.count == 4 %}
            <input class="btn btn-danger mt-1 disabled" type="submit" value="Profil Ekle">
            <p class="text-white "> Maksimum Profil Sayısına Ulaştınız </p>
            {% else %}
            
            <input class="btn btn-danger mt-1" type="submit" value="Profil Ekle">
            {% endif %}
                
            
            </form>
            
       
        
          
      
   
   
</div>
    
{% endblock content %}
    
    