{% extends 'base.html' %}
{% load static %}


{% block title %}
    
{% endblock title %}



{% block css %}
    <style>
        body{
            background-color: black !important;
        }
    </style>
{% endblock css %}
    


{% block content %}
{% include 'partials/_navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col-12 m-2">
            <h1 class="text-white"> Favoriler </h1>
            <div class="cizgi"> </div>
        </div>
        
        {% for f in favoriler %}
        <div class="col-3">
            <div class="card bg-transparent">
                <img class="card-body " src="{{f.film.image.url}}" alt="">
                <p class="card-title text-white text-center"> {{f.film.title}} </p>
                <a class="btn text-white card-footer" href=""> İzle </a>
            </div>
        </div>
        {% endfor %}
        
       
    </div>
</div>

    
{% endblock content %}
    
    